html{
    width: 280px;
    max-height:500px;
    max-width:280px;
    background-color: #febc51;
    color:whitesmoke;
    margin: 0px 10px;
}

.topBarDiv {
    margin: 0px;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.loginForm {
    padding: 80px 0;
    text-align: center;
}

.loginFormInputField {
    border:none; 
    border-radius:10px; 
    border:solid 2px whitesmoke;
    margin: 5px;
    padding: 5px 10px;
    width: 200px;
    height: 15px; 
}

.loginFormInputField:hover,
.loginFormInputField:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.loginFormInputField:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.button {
    border:none; 
    border-radius:20px; 
    border:solid 2px whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
  
    min-height:10px; 
    min-width: 150px;

    margin: 10px;
    padding:5px;

    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
  
    color: rgba(0, 0, 0, 0.65);
  
    position: relative;
  
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}

.button:hover,
.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.UserInfo h1 {
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 0px;
}

.UserInfo p {
    margin:0;
}

.cardForm {
  text-align: center;
}

img{
    margin: 5px;
    height:150px;
    width:auto;
    max-width:100%;
} 

.cardTextAreaField {
    border:none; 
    border-radius:10px; 
    border:solid 2px whitesmoke;
    padding: 5px 10px; 
    width: 200px;
    height: 50px; 
    margin: 5px;
    resize: vertical;
}

.boardPicker {
    border:none; 
    border-radius:5px; 
    border:solid 2px whitesmoke;
    padding: 5px; 
    width: 200px;
    height: 10px; 
    margin: 5px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  img {
    max-width: 100%;
    max-height:100%;
  }

.error-message {
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  float: left;
  padding: 20px 30px;
}

.error-text {
  color: #cc0033;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  text-shadow: 1px 1px rgba(250,250,250,.3);
}
